%span{:id => result_css_id(response,result)}
  %span.result-link=link_to result.id.to_s, :action => 'edit_result', :id => result.id, :response_id => response.id
  %span.tiny-text= link_to_remote "X", :url => { :action => 'delete_result', :id => response.id, :result_id => result.id }, :confirm => "Are you sure you want to delete this result? Deleting it will remove it from all responses it's currently related to!"
  %span.tiny-text= "|"
