%div{:id => result_css_id(response,result)}
  %span= shorten(result.name)
  %span.tiny-text=result_show_link(result, response) 
  %span.tiny-text= '|'
  %span.tiny-text=result_edit_link(result, response) 
  %span.tiny-text= '|'
  %span.tiny-text= result_delete_link(result, response)

