%div{:id => question_tree_css_id(question)}
  %span.question{:id => question_css_id(question)}
    = render :partial => 'show_question', :locals => { :question => question }
    %ul{:id => question_responses_css_id(question)}
      - question.responses.each do |response|
        = render :partial => 'response_tree', :locals => { :response => response }
