body {
  background: rgb(101, 101, 101);
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;;
}

.middle {
  background-position: center;
  background-image: url( "../images/middle_background.png" );
}

.bottom {
  background-position: center;
    background-image: url( "../images/bottom_background.png" );
    height: 13px;
    margin-bottom: 30px;
}

.content {
  background: rgb(255, 255, 255);
  margin: 0pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0indepx;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  text-align: left;
  width:600px;
}

.tiny-text {
  color: rgb(145, 145, 145);
  font-size: 10px;
}

.header-text {
      color: rgb(121, 121, 121);
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 44px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      opacity: 1.00;
      padding-bottom: 0px;
      padding-top: 0px;
      text-align: left;
      text-decoration: none;
      text-indent: 0px;
      text-transform: none;
  }

.header {
  height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;
}

a, a:visited {
    color: rgb(180, 89, 58);
    text-decoration: none;
}

a:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}

/* Questions, responses and results */

.question {
  color: #0000FF;
}

.response {
  color: #00aa00;
}

.incomplete .response {
  color: red;
}

.results {
  color: #666666;
}

.result-link a { color: #333; }
