%h2 Change password
- if flash[:erorrs]
  %div#errorExplanation
    = flash[:errors]
- form_tag :url => {:action => 'change_password'} do
  %span.small-text=label_tag "Current password"
  %br
  =text_field_tag 'current_password'
  %br
  %span.small-text=label_tag "New password"
  %br
  =text_field_tag 'new_password'
  %br
  %span.small-text=label_tag "Confirm password"
  %br
  =text_field_tag 'confirm_password'
  %br
  = submit_tag "Change"