
%h2 Referral Tool

The Children Legislation Amendment (Wood Inquiry Recommendations) Act 2009 expands the information sharing provisions of the Children and Young Persons (Care and Protection) Act 1998 to allow a freer exchange of information between &ldquo;prescribed bodies&rdquo; (Government agencies and non government organisations) relating to a child or young person&rsquo;s safety, welfare or wellbeing.
%br
%br
To help facilitate this process the YMISA has developed a mental health referal pathway tool for government and non-government workers.
%br
%br

%ol
  - @trees.each do |tree|
    %li= link_to tree.name, permalink_for(tree)