<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>YMISA</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script>var slideshowjQuery = jQuery.noConflict(true);RwSet = {pathto: "/rw_common/themes/havnit/javascript.js",baseurl: "http://www.ymisa.org.au/"};</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen"
     href="/rw_common/themes/havnit/styles.css" />
    <link rel="stylesheet" type="text/css" media="print"
     href="/rw_common/themes/havnit/css/print.css" />
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/headerheight/headerHeight180px.css" />
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/custombg/header6.css" />
      <script type="text/javascript"
          src="/rw_common/themes/havnit/scripts/slideshow/effectToss.js"></script>
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/sidebar/right.css" />
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/typography/geneva.css" />
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/typography/fontSizeMedium.css" />
      <link rel="stylesheet" type="text/css" media="screen"
       href="/rw_common/themes/havnit/css/typography/lineHeightMedium.css" />

    <link rel="stylesheet" type="text/css" media="screen"
     href="/rw_common/themes/havnit/css/colourtag-page0.css" />
    <script src="/rw_common/themes/havnit/scripts/seydoggy.js"></script>
    <script src="/rw_common/themes/havnit/javascript.js"></script>



        <link rel='stylesheet' type='text/css' media='all'
         href='/rw_common/plugins/stacks/stacks.css' />
      <!--[if lte IE 7]>
        <link rel='stylesheet' type='text/css' media='all'
         href='/rw_common/plugins/stacks/stacks_ie.css' />
      <![endif]-->
      <link rel='stylesheet' type='text/css' media='all'
            href='http://119.252.189.21/~ymisaorg/files/stacks_page_page0.css' />
      <script type='text/javascript' charset='utf-8' src='files/stacks_page_page0.js'></script>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <style>
    .additional {
      float: right;
      margin-right: 20px;
      width: 400px;
      font-size: 10pt;
    }
  </style>

</head>
<body>

  <!--
    seyDoggy Havnit - see release notes (/rw_common/themes/havnit/release.txt)
  -->
  <div class="wrapper">
    <header class="siteHeader">
      <a class="logo" href="http://www.ymisa.org.au/" title="">
        <img src="/rw_common/images/rwsitelogo.png" width="173" height="87"
             alt="Site logo"/></a><!-- .logo -->
      <hgroup class="title">
        <h1 class="site_title"></h1>
        <h2 class="site_slogan">Youth Mental Illness and Substance Abuse Network</h2>
      </hgroup><!-- .title -->
      <nav id="toolbar_horizontal" class="radius5">
        <ul class="toolbarList">
          <li class="currentListItem">
            <a class="current" href="index.html" rel="self" title="YMISA">YMISA</a>
            <ul class="toolbarList">
              <li class="normalListItem">
                <a class="normal" href="page4/index.html" rel="self" title="Did You Know">
                   Did You Know
                </a>
              </li>
              <li class="currentListItem">
                <a class="current" href="/" rel="self" title="Referral Tool">
                  Referral Tool
                </a>
              </li>
              <li class="normalListItem">
                <a class="normal" href="page2/index.html" rel="self" title="iDrinksmart">
                  iDrinksmart</a>
              </li>
              <li class="normalListItem">
                <a class="normal" href="page5/index.html" rel="self" title="Passport">
                  Passport</a>
              </li>
              <li class="normalListItem">
                <a class="normal" href="page3/index.html" rel="self" title="Our Research">
                  Our Research</a>
              </li>
            </ul>
          </li>
          <li class="normalListItem">
             <a class="normal" href="contact-form/index.php"
                rel="self" title="Contact Us">
              Contact Us</a>
          </li>
        </ul>
      </nav><!-- #toolbar_horizontal -->
      <div class="clear"></div>
    </header><!-- .siteHeader -->
    <div class="clear"></div>
    <div class="preContainer contentBox">
      <div id="extraContainer1" class="preContent">
        <!--extra user content renders here-->
      </div><!-- #extraContainer1 .preContent -->
      <div class="seydoggySlideshow">
        <div class="pageHeader radius3"></div><!-- .pageHeader -->
      </div><!-- .seydoggySlideshow -->
      <div class="clear"></div>
    </div><!-- .preContainer .contentBox -->
    <div class="mainContainer contentBox">
      <nav id="toolbar_sub"></nav><!-- #toolbar_sub -->
      <div class="preContent">
        <div id="extraContainer2">
          <!--extra user content renders here-->
        </div><!-- #extraContainer2 -->
        <div class="clear"></div>
      </div><!-- .preContent -->
      <div class="contentContainer">
        <section class="mainContent">


           <%= yield %>

        </section><!-- .mainContent -->
        <aside class="sidebarContent">
          <nav id="toolbar_vertical"></nav><!-- #toolbar_vertical -->
          <section class="sidebar">
            <div class="sidebar_title">

            </div><!-- .sidebar_title -->
          </section><!-- .sidebar -->
          <section class="plugin_sidebar">

          </section><!-- .plugin_sidebar -->
        </aside><!-- .sidebarContent -->
        <div class="clear"></div>
      </div><!-- .contentContainer -->
      <section class="postContent">
        <div id="extraContainer3">
          <!--extra user content renders here-->
        </div><!-- #extraContainer3 -->
        <div class="clear"></div>
      </section><!-- .postContent -->
    </div><!-- .mainContainer .contentBox -->
    <div class="postContainer contentBox">
      <div class="postContent radius3">
        <div id="extraContainer4">
          <!--extra user content renders here-->
        </div><!-- #extraContainer4 .postContent -->
        <div class="clear"></div>
      </div><!-- .postContentInner -->
    </div><!-- .postContainer .contentBox -->
    <footer class="footerContainer contentBox">

      <section class="footerContent">&copy; 2012 YMISA <a href="#" id="rw_email_contact">Contact Us</a><script type="text/javascript">var _rwObsfuscatedHref0 = "mai";var _rwObsfuscatedHref1 = "lto";var _rwObsfuscatedHref2 = ":ma";var _rwObsfuscatedHref3 = "nag";var _rwObsfuscatedHref4 = "er@";var _rwObsfuscatedHref5 = "mys";var _rwObsfuscatedHref6 = "t.c";var _rwObsfuscatedHref7 = "om.";var _rwObsfuscatedHref8 = "au";var _rwObsfuscatedHref = _rwObsfuscatedHref0+_rwObsfuscatedHref1+_rwObsfuscatedHref2+_rwObsfuscatedHref3+_rwObsfuscatedHref4+_rwObsfuscatedHref5+_rwObsfuscatedHref6+_rwObsfuscatedHref7+_rwObsfuscatedHref8; document.getElementById('rw_email_contact').href = _rwObsfuscatedHref;</script></section><!-- .footerContent -->
      <div class="clear"></div>
    </footer><!-- .footerContainer .contentBox -->
  </div><!-- .wrapper -->





</body>
</html>
